@model BuildingGraphic.Models.EquationDTO

@{
    ViewBag.Title = "Home Page";

}


<style>
    table {
        border-collapse: collapse;
        border: 2px solid black;
    }

    td {
        border: 1px solid black;
        padding: 0px;
    }

        td#highlight {
            border: 2px solid black;
        }

    input {
        width: 100%;
        height: 100%;
        border: 0px solid white;
    }
</style>

<h1>Красивое приложение </h1>

@using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "graphic" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">


        <table>
            <tr>
                <td>Function:</td>
                <td>y=</td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CoefficientSecondDegrees)
                        </div>
                    </div>
                </td>
                <td>x^2 +</td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CoefficientFirstDegrees)
                        </div>
                    </div>
                </td>
                <td>x +</td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CoefficientZeroDegrees)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>

            </tr>
            <tr>
                <td>Step: </td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Step)
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
            <tr>
                <td>From: </td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartPosition)
                        </div>
                    </div>
                </td>
                <td>to </td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StopPosition)
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Plot" class="btn btn-primary" />
            </div>
        </div>

    </div>

}



<div id="graphic"></div>


