@{
    ViewBag.Title = "Home Page";

}

    

<div>
    <style>
        table {
            border-collapse: collapse;
        }
        tr{
        }

        td{
            border: 1px solid black;
            padding: 2px;
        }
        td#2{
            padding: 1px;
        }
        td#highlight{
            border: 2px solid black;
        }


    </style>

    <h1>Красивое приложение </h1>

    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "graphic" }))
    {

    <table>
        <tr>
            <td>Function:</td>
            <td>y=</td>
            <td id="highlight">@Html.TextBox("CoefficientSecondDegrees")</td>
            <td>x^2 +</td>
            <td id="highlight">@Html.TextBox("CoefficientFirstDegrees")</td>
            <td>x +</td>
            <td id="highlight">@Html.TextBox("CoefficientZeroDegrees")</td>
        </tr>
        <tr>
            <td id="2">&nbsp;</td>
            <td id="2">&nbsp;</td>
            <td id="2">&nbsp;</td>
            <td id="2">&nbsp;</td>
            <td id="2">&nbsp;</td>
            <td id="2">&nbsp;</td>
            <td id="2">&nbsp;</td>

        </tr>
        <tr id="1">
            <td>Step:</td>
            <td id="highlight">@Html.TextBox("Step")</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr id=" 2">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>

        </tr>
        <tr id=" 1">
            <td>From:</td>
            <td id="highlight">@Html.TextBox("StartPosition")</td>
            <td>to</td>
            <td id="highlight">@Html.TextBox("StopPosition")</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <input type="submit" value="Plot" />
    }

</div>

