@model PresentationLayer.Models.UserDataViewModel

@{
    ViewBag.Title = "Building";
}

<h2>Building</h2>

<div>
    <h4>UserDataViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RangeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoefficientSecondDegrees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoefficientSecondDegrees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoefficientFirstDegrees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoefficientFirstDegrees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoefficientZeroDegrees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoefficientZeroDegrees)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
