@model PresentLayer.Models.UserDataViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>красивое приложение </h1>

<div id="graphic"></div>
<hr />
@using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "graphic" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <table>
            <tr>
                <td>Function:</td>
                <td id="text">y=</td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CoefficientSecondDegrees)

                        </div>
                    </div>
                </td>
                <td id="text">x^2 +</td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CoefficientFirstDegrees)
                        </div>
                    </div>
                </td>
                <td id="text">x +</td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CoefficientZeroDegrees)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>
                <td id="2">&nbsp;</td>

            </tr>
            <tr>
                <td>Step: </td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Step)
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
            <tr>
                <td>From: </td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RangeFrom)
                        </div>
                    </div>
                </td>
                <td id="text">to </td>
                <td id="highlight">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RangeTo)
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Plot" class="btn btn-primary" />
            </div>
        </div>

    </div>

}