@model IEnumerable<PresentLayer.Models.UserDataViewModel>

@{
    ViewBag.Title = "Listing";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RangeFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RangeTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Step)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoefficientSecondDegrees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoefficientFirstDegrees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoefficientZeroDegrees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RangeFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RangeTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Step)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoefficientSecondDegrees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoefficientFirstDegrees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoefficientZeroDegrees)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
